body {
    direction: rtl;
    font-family: "BNazanin","IranianSans", Arial,Tahoma;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
#slides {
    direction: ltr;
    width: 900px;
    top: 100px;
    height: 320px;
    margin: 0 auto 0px auto;


}
.slides_container{
    height: 320px;
    border-radius: 5px;
    box-shadow: 1px 0px 3px #1a1a1a;
    border: 5px solid #cccccc;
}

.pagination {
    float: left;
    list-style: none outside none;
    margin: 6px 0 0;
}
/*.pagination {
    display: none;
}*/

.pagination li a {
    background-image: url("/statics/images/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 13px;
    width: 13px;
}

.pagination li {
    float: left;
    margin: 0 1px;
}

.pagination li.current a, .pagination li.current a:hover {
    background-position: 0 -13px;
}
.pagination li a:hover {
    background-position: 0 -26px;
}
#slides a:link, #slides a:visited {
    color: #333333;
}
#slides a:hover, #slides a:active {
    color: #9E2020;
}
.box {
    border: medium none;
    border-radius: 0 0 100% 100% / 0 0 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.box:hover {
    Background: #eaeaea;
    cursor: pointer;
    -moz-transition: Background 300ms linear 0ms;
    -webkit-transition: Background 300ms linear 0ms;

}

#news {
    padding: 0;
    width: 900px;
    margin: 50px auto 0 auto;

}
#news:nth-child {
    margin-right: 5px;
}

.news {
    width: 180px;
    height: 240px;
    padding: 5px 20px;
    display:inline-block;
    float: right;
    margin: 0px 5px 0 0;
    font-size: 12px;
    line-height: normal;
    font-weight: 100;
    text-align: justify;
    color: #5f5f5f;
}

.news span{
    font-size: 12px;
    color: grey;
}
.gallerybtn {
    float: right;
    margin-right: 30px;
    
    font-size: 12px;
    padding: 5px 7px 7px 7px;
    
    Background: #cccccc;
    border-radius: 0  0 5px 5px;
}

.gallerybtn:hover {
    Background: #717171;

    -moz-transition: Background 300ms linear 0ms;
    -webkit-transition: Background 300ms linear 0ms;
}

#glink {
    text-decoration: none;
}


.links {
    margin-top: 400px;
    padding: 0;
    width: 900px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    font-size: 12px;

}

.links ul {
    list-style: none;
    text-align: center;
    maring: 0 auto;
}

.links ul li {
    display: inline;
    margin: 0px;
    padding:0;
}

.links ul li a{
    text-decoration: none;
    color: #1a1a1a;
    padding: 0px 10px 0px 10px;

}

.links ul li a:visited{
    color: #1a1a1a;
}
.links ul li a:hover{
    color: #2c8596;
    text-decoration: underline;
}

footer {
    margin-top: 12px;
    width: 900px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-size: 12px;

}


#pagec {
    width: 860px;
    margin: 0 auto 0 auto;
    min-height: 200px;
}

#submenu {
    width: 900px;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto 15px auto;
    padding: 10px;
    color: #eeeeec;
}
.big {
   font-size: 48px;
}

#galleries {
    list-style: none;
    border-right: 1px solid #2f2f2f;
    margin-right: 40px;
    padding: 0px;
    width: 400px;
}

#galleries li {
    padding: 2px 30px 2px 0;
    border-radius: 5px 0 0 5px;
}
#galleries a{
    text-decoration: none;
    color: #2f2f2f;
    font-size: 32px;

}
#galleries li:hover{
    Background: #eeeeec;
    text-indent: 40px;
    -moz-transition: text-indent 300ms linear 0ms;
    -webkit-transition: text-indent 300ms linear 0ms;
    -o-transition: text-indent 300ms linear 0ms;
}

.aside {
    font-family: "BNazanin";
    float: left;
    width: 200px;
    Background: #fefefa;
    margin: 20px 0;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 0 2px grey;
}
.aside ul {
    Background: #fefefa;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    width: 100%;

}
.aside li {
    padding: 2px 15px;
}
.aside ul a{
    color: #2f2f2f;
    text-decoration: none;
}

.aside ul li:hover{
    Background: #eeeeec;
    -moz-transition: Background 300mx linear 0ms;
}
.aside-header {
    border-radius: 5px 5px 0 0;
    Background: #eeeeec;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #1f1f1f;
}
.page {
    width: 650px;

}

#logo{
    width: 860px;
    margin: 0 auto 0 auto;
    font-family: "BTitrTGEBold";
}

.justify, .page p {
    text-align:justify;
}
.news h2 {
    font-size: 13px;
    text-align: right;
}
#beta {
    float: left;
    position: static;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    color: white;
    Background: #88382D;
    top: 0;
    margin-left: 40px;
}
.formtable {
    width: 70%;
    
}
.formtable label{
    font-size: 16px;
    font-weight: 700;
    width: 100%;

}
.formtable tr{
    height: 100px;
}

input, textarea {
    border-radius: 2px;

    padding: 6px;
    color: #5a5a5a;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    margin-right: 50px;
}
input[type="text"] {
    height: 35px;
}

input:focus, textarea:focus {
    border: 1px solid #397249;
    box-shadow: 0 0 6px 1px #9CB770;
}