
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
    direction: rtl;
    margin:0;
    padding:0;
    list-style:		none;

}
.sf-menu {
    direction: rtl;
    line-height:	1.0;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    height: 33px;
    Background: #5a5a5a;
    font-size: 14px;
    height: 37px;
    font-family: "BTitrTGEBold";

}
.sf-menu ul {
    direction: rtl;
    position:	absolute;
    top:-999em;
    width:10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
    width:100%;
}
.sf-menu li:hover {
    visibility:	inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float:right;
    position:relative;
}
.sf-menu a {
    display:		block;
    position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    right:			0;
    top:			2.5em; /* match top ul list item height */
    z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    right:			10em; /* match ul width */
    top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    right:			10em; /* match ul width */
    top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
    display: block;
    margin-bottom:	1em;
}
.sf-menu a {
    /*border-right:	1px solid red;
    border-top:		1px solid yellow;*/
    padding: 		.75em 1em;
    text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color: #eeeeec;
}
.sf-menu li {
    background:		#5a5a5a;
}
.sf-menu li li {
    background:		#7a7a7a;
}
.sf-menu li li li {
    background:		#9a9a9a;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    background:		#bababa;
    outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
    padding-left: 	2.25em;
    min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
    position:		absolute;
    display:		block;
    left:			.75em;
    top:			1.05em; /* IE6 only */
    width:			10px;
    height:			10px;
    text-indent: 	-999em;
    overflow:		hidden;
    background:		url('/statics/images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
    top:			.8em;
    background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
    background:	url('/statics/images/shadow.png') no-repeat bottom right;
    padding: 0 8px 9px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
    background: transparent;
}
