{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div id="pagec">
<h1>{{ page.title }}</h1>
{% autoescape off %}
{{ page.content }}
{% endautoescape %}
</div>
{% endblock content %}
