<div class="aside">
<div class="aside-header">
لینک ها
</div>
<ul>
  <li><a href="#">لینک</a></li>
  <li><a href="#">لینک</a></li>
  <li><a href="#">لینک</a></li>
  <li><a href="#">لینک</a></li>
  <li><a href="#">لینک</a></li>
  <li><a href="#">لینک</a></li>
</ul>
</div>
