<html>
<head>
  <title>
{% block title %}
UAST
{% endblock title %}
</title>

  <link type="text/css" href="/statics/css/nav.css" rel="stylesheet" id="globalheader-stylesheet">
  <link type="text/css" href="/statics/css/style.css" rel="stylesheet">
  <link type="text/css" href="/statics/css/fonts.min.css" rel="stylesheet">

  <link rel="stylesheet" media="screen" href="/statics/css/superfish.css" /> 
  
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/statics/js/superfish.js"></script> 
  <script src="/statics/js/menu.js"></script>

  <script src="/statics/js/slides.js"></script>
  
</head>
<body>
  <div id="beta">
    نسخه آزمایشی
  </div>
  <div id="submenu">
    <ul class="sf-menu sf-js-enabled sf-shadow" id="sample-menu-1">
      <li class="current">
	<a href="/">صفحه اصلی</a>
      </li>
      <li>
	<a href="#" class="sf-with-ul">معرفی دانشگاه<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;">
	  <li><a href="/pages/pub_university/">دانشگاه جامع</a></li>
	  <li><a href="/pages/intro/">معرفی مرکز</a></li>
	  <li><a href="#" class="sf-with-ul">مدیریت و پرسنل<span class="sf-sub-indicator"> »</span></a>
	    <ul style="display: none; visibility: hidden;">
	      <li><a href="/pages/dean/">مدیریت</a></li>
	      <li><a href="/pages/amuzesh/">آموزش</a></li>
	      <li><a href="/pages/herasat/">حراست</a></li>
	      <li><a href="/pages/amurmali/">امور مالی</a></li>
	    </ul>
	  </li>

	</ul>
      </li>
      <li><a href="http://edu.uast.ac.ir/user/user_manage/userLogin">سامانه آموزش</a><li>
      <li><a href="/pages/articles/">مقالات</a></li>

      <li class="">
	<a href="#" class="sf-with-ul">امور دانشجویی و فرهنگی<span class="sf-sub-indicator"> »</span></a>

	<ul style="display: none; visibility: hidden;">
	  <li class="">
	    <a href="#" class="sf-with-ul">امور دانشجویی<span class="sf-sub-indicator"> »</span></a>

	    <ul style="display: none; visibility: hidden;">
	      <li class="">
		<a href="http://www.uast.ac.ir/daneshjooi/AX/%D8%AF%D8%B3%D8%AA%D9%88%D8%B1%D8%A7%D9%84%D8%B9%D9%85%D9%84%20%D9%BE%D8%B1%D8%AF%D8%A7%D8%AE%D8%AA%20%D9%88%D8%A7%D9%85%20%D8%A8%D9%87%20%D9%88%D8%A7%D8%AD%D8%AF%D9%87%D8%A7%D9%8A%20%D8%A7%D8%B3%D8%AA%D8%A7%D9%86%D9%8A%2090-1389.pdf" class="">وام دانشجویی</a>
	      </li>
	    </ul>
	  </li>
	  <li class="">
	  <a href="#" class="sf-with-ul">امور فرهنگی<span class="sf-sub-indicator"> »</span></a>

	  <ul style="display: none; visibility: hidden;">
	    <li class="">
	      <a href="/pages/forumes/" class="">انجمن دانشجویی فرهنگی</a>
	    </li>
	    <li class="">
	      <a href="/pages/moshavere/" class="">کانون مشاوره</a>
	    </li>

	    <li class="">
	      <a href="/pages/calculem/" class="">برنامه هفتگی</a>
	    </li>

	  <li class="">
	    <a href="#" class="sf-with-ul">آیین نامه ها<span class="sf-sub-indicator"> »</span></a>
	     <ul style="display: none; visibility: hidden;">
	       <li class="">
		 <a href="http://www.uast.ac.ir/daneshjooi/DocLib9/aeen_name_nemooneh.PDF" class="">آیین نامه انتخاب دانشجوی نمونه</a>
	       </li>
	       <li class="">
		 <a href="/statics/hejab.zip" class="">آیین نامه پوشش و حجاب دانشجویی</a>
	       </li>

	     </ul>
	  </li>
	  </ul>
	  </li>
      </li>
      </ul>
      </li>

      <li class="">
	<a href="#" class="sf-with-ul">معاونت آموزش<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;">

	  <li class="">
	    <a href="#" class="sf-with-ul">آیین نامه ها<span class="sf-sub-indicator"> »</span></a>
	    <ul style="display: none; visibility: hidden;">
	      <li class="">
		<a href="/pages/rules/" class="">مقررات آموزشی</a>
	      </li>
	      <li class="">
		<a href="/statics//madareke_lazem.zip" class="">مدارک لازم جهت ثبت نام دانشجویان پودمانی</a>
	      </li>
	      <li class="">
		<a href="/pages/pudemani/" class="">آیین نامه دوره پودمانی کاردانی</a>
	      </li>
	      
	    </ul>
	  </li>


      <li class="">
	<a href="#" class="sf-with-ul">معرفی رشته ها<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;">

	      <li class="">
		<a href="/pages/courses-dec/" class="">توضیحات رشته ها</a>
	      </li>
	      <li class="">
		<a href="/pages/cources/" class="">سرفصل دروس</a>
	      </li>
	</ul>
      </li>


	  <li class="">
	    <a href="/pages/professors/" class="">امور مدرسان</a>
	  </li>
	  <li>
	    <a href="/pages/calender/" class="">تقویم و برنامه آموزشی</a>
	  </li>



      <li class="">
	<a href="#" class="sf-with-ul">در خواست ها<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;">

	      <li class="">
		<a href="/pages/std-cert/" class="">گواهی اشتغال به تحصیل</a>
	      </li>
	      <li class="">
		<a href="/pages/mine-cert/" class="">گواهی معدل</a>
	      </li>
	      <li class="">
		<a href="/pages/prof-cert/" class="">گواهی اشتغال به تدریس</a>
	      </li>
	      <li class="">
		<a href="/pages/payment-cert/" class="">گواهی شهریه </a>
	      </li>

	</ul>
      </li>





      </li>
      </ul>
      </li>

      <li><a href="/pages/faq/">پرسش و پاسخ</a></li>
      <li><a href="/contact/">ارتباط با ما</a></li>
    </ul>
  </div>







<!--
  <nav class="apple globalheader-js globalheader-loaded svg" id="globalheader">

	<ul role="navigation" id="globalnav">
		<li id="gn-apple"><a href="/pages/faq/" class=""><span>Home</span></a></li>
		<li id="gn-store"><a href="/pages/contact/" class=""><span>intro</span></a></li>
		<li id="gn-mac"><a href="/pages/education/" class=""><span>Articles</span></a></li>
		<li id="gn-ipod"><a href="/pages/student/"><span>Culture</span></a></li>
		<li id="gn-iphone"><a href="/pages/culture/"><span>Student</span></a></li>
		<li id="gn-ipad"><a href="/pages/article/"  class=""><span>Education</span></a></li>
		<li id="gn-itunes"><a href="/pages/intro/" class=""><span>contact</span></a></li>
		<li class="gn-last" id="gn-support"><a href="/" ><span>FAQ</span></a></li>
	</ul>

	<div id="globalsearch">
		<form id="g-search" class="search empty" method="get" action="http://www.apple.com/search/"><div class="sp-label">
			<label for="sp-searchtext">Search</label>
			<input type="text" accesskey="s" id="sp-searchtext" name="q" autocomplete="off"><div class="reset"></div>
		<div class="spinner hide"></div></div><input type="hidden" id="search-section" name="sec" value="global"></form>
		<div id="sp-magnify"><div class="magnify-searchmode"></div><div class="magnify"></div></div>
		<div id="sp-results"></div>
	</div>
  </nav>
-->


{% block content %}

{% endblock content %}




<div class="links">
  <ul>
    <li>
      <a href="http://amoozeshehonar.farhang.gov.ir/home-fa.html">اداره کل فرهنگ و ارشاد اسلامی استان البرز</a>
      </li>
    <li>
      <a href="http://www.uast.ac.ir/daneshjooi/default.aspx">دانشگاه جامع علمی و کاربردی</a>
      </li>

    <li>
      <a href="http://edu.uast.ac.ir/user/user_manage/userLogin">سامانه سجاد</a>
      </li>
    <li>
      <a href="http://www.tebyan.net">تبیان</a>
      </li>
    <li>
      <a href="http://www.aviny.com/">شهید آوینی</a>
      </li>

  </ul>
</div>


<footer>
<p>این نرم افزار در حال گذراندن دوره آزمایشی می باشد.</p>
<p>تمام حقوق این وب سایت متعلق به دانشگاه علمی و کاربردی واحد ۱ البرز می باشد.</p>
</footer>
</body>
</html>
