{% extends 'base.html' %}

{% block content %}
<div id="pagec">
{% include 'aside.html' %}
<div class="page">
<h1>ارتباط با ما</h1>
<p>
آدرس: کرج عظیمیه میدان اسبی بلوار اقاقیا دانشگاه علمی کاربردی فرهنگ و هنر البرز
</p>
<p>
  تلفن: 02632522696
</p>
<form action="" method="POST">{% csrf_token %}
<table class="formtable">
<tr>
  <td><label>نام:</label></td><td>{{ ContactUs.name }}</td>
</tr>
<tr>
  <td><label>نام خانوادگی:</label></td><td>{{ ContactUs.family }}</td>
</tr>
<tr>
  <td><label>پست الکترونیکی:</label></td><td>{{ ContactUs.email }}</td>
</tr>
<tr>
  <td><label>متن پیام:</label></td><td>{{ ContactUs.message }}</td>
</tr>

</table>
<p><input type="submit" value="ثبت"></p>

</form>
</div>
</div>
{% endblock content %}
