{% extends 'base.html' %}

{% block content %}
<div id="pagec">

<h1 class="big">گالری ها</h1>
<ul id="galleries">
  {% for i in galleries %}
  <li><a href="/gallery/{{ i.slug }}/">{{ i.title }}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock content %}
