{% extends 'base.html'%}
{% load news_list %}
{% block content %}




        <div id="slides">
            <div class="slides_container">
                <div>
                    <img src="/statics/images/1.jpg">
                </div>
                <div>
                    <img src="/statics/images/2.jpg">

                </div>
                <div>
                    <img src="/statics/images/3.jpg">

                </div>
                <div>
                    <img src="/statics/images/4.jpg">

                </div>
            </div>
<div class="gallerybtn">
  <a id="glink" href="/gallery/" style="color: white;">گالری تصاویر</a>
</div>
<div class="gallerybtn">
  <a href="/news/" style="color: white;">لیست اخبار</a>
</div>

        </div>




{% news %}



{% endblock content %}
