<div id="news">
{% for news in news_list %}

<a href="{{ news.get_absolute_url }}"><div class="box news" onclick="window.location = '{{ news.get_absolute_url }}'">
<h2>{{ news.title|title }}</h2>
<p>{{ news.get_content|linebreaks }}</p>
<span>{{ news.date }}</span>
</div></a>
{% endfor %}
</div>
