{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div id="pagec">
{% include 'aside.html' %}
<div class="page">
<h1>{{ page.title }}</h1>
{% autoescape off %}
{{ page.content|linebreaks }}
{% endautoescape %}
</div>
</div>
{% endblock content %}
